---
- name: create tmux dirs
  file:
    path: "{{ item }}"
    state: directory
  with_items:
    - ~/.config
    - ~/.config/tmux
    - ~/.config/tmux/plugins
    - ~/.config/tmux/configs

- name: clone tpm
  git:
    repo: https://github.com/tmux-plugins/tpm
    dest: ~/.config/tmux/plugins/tpm
    version: v3.1.0

- name: place tmux conf file
  copy:
    src: tmux.conf
    dest: "{{ ansible_env.HOME }}/.config/tmux/tmux.conf"

