---
- name: create .config dir
  file:
    path: "{{ ansible_env.HOME }}/.config"
    state: directory

- name: create tinted-theming dir
  file:
    path: "{{ ansible_env.HOME }}/.config/tinted-theming"
    state: directory

- name: create tinty dir
  file:
    path: "{{ ansible_env.HOME }}/.config/tinted-theming/tinty"
    state: directory

- name: place config file
  copy:
    src: config.toml
    dest: "{{ ansible_env.HOME }}/.config/tinted-theming/tinty/config.toml"

- name: tinty sync
  command: tinty sync

